<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desirecode.lectureschedulingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lecture.TabbedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".TempTable" />
        <activity android:name=".lecture.TimeTableUpdate">

        </activity>
        <activity android:name=".CommonLogin" />
        <activity android:name=".notification.Notification" />
        <activity android:name=".timetable.TimeTableOverView">

        </activity>
        <activity android:name=".student.StudentProfile" />
        <activity android:name=".lecture.LectureProfile" />
        <activity android:name=".student.StudentLogin" />
        <activity android:name=".lecture.LectureLogin" />
        <activity android:name=".student.StudentRegistration" />
        <activity android:name=".lecture.LectureRegistration" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>